body {
  min-height: 2000px;
  padding-top: 70px;
}

.body {
  padding-top: 50px;
}


.center {
  margin: 0 auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.left {
  padding: 0px;
}
